h1 {
    text-align: center;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}

#notDevouredDiv {
    float: right;
    text-align: center;
    margin-left:200px;
}

#devouredDiv {
    float: left;
    text-align: center;
    margin-right:200px;
}

form {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}