h1 {
    text-align: center;
}
.jumbotron {
    height: 100px;

}


.container {
    margin-left: 10%;
    margin-right: 10%;
    
}

#notDevouredDiv {
    text-align: center;
    float: right;
    text-align: center;
    margin-left:200px;
    background-color: antiquewhite;
    
}

#devouredDiv {
    text-align: center;
    float: left;
    text-align: center;
    margin-right:200px;
    background-color: burlywood;
}

form {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}